
@{
    ViewBag.Title = "Ошибка загрузки файла";
}

<div> 
    <h1>Увы, ошибка загрузки файла</h1>
    <p>Возможно файл отсутствует</p>
    <a style="cursor:pointer" onclick="javascript:history.back(); return false;">Вернуться на прежднюю страницу</a>
</div>

